# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
build/*
bin/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# Composer
composer.phar

# Eclipse
.buildpath
.settings
.project